body {
    background-color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--main {
    color: white;
    margin: 25px auto;
    font-weight: normal;
    font-size: 50px;
}

/* Links */

.link--cta {
    color: aquamarine;
}

/* HEADINGS */

.header--sec {
    color: white;
    font-weight: 300;
    font-size: 42px;
}

.header--sub {
    color: gray;
    font-size: 21px;
}

/* Footer */

.footer {
    font-size: 16px;
    color: gray;
    text-align: end;
}
